/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

/* VARIABLES */
:root {
  --black: #101010;
  --white: #ffffff;
  --main: #e28c6f;
  --font: 'Manrope', sans-serif;
  --mainSpasing: 0.3rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  /* --transition: 0.3s ease-in-out; */
}

/* STYLING */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  color: var(--black);
  background-color: var(--white);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 0;
}
ul {
  list-style-type: none;
}

p,
ul li {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--black);
}
img {
  width: 100%;
  display: block;
}
/* NAVBAR */
.navbar {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 1.75rem;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  flex-direction: row-reverse;
}
.nav-links {
  position: relative;
  display: flex;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-links li {
  padding: 0.25rem 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  border-bottom: 2px solid transparent;
  transition: var(--transition);
}
.nav-links li:hover,
:focus {
  font-weight: bold;
  letter-spacing: 0;
}
.nav-links li:hover {
  border-bottom: 2px solid var(--main);
}
/* Icons */
span {
  float: left;
  text-align: center;
  padding-right: 0.6rem;
  font-size: 21px !important;
}
/* HOME */

/* Hero styling */
.home-page {
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.hero-image {
  height: 450px;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1566363384123-360c5f6bc369?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1373&q=80');
  background-position: 200px;
  background-repeat: repeat;
  background-size: cover;
}
.hero-text {
  position: absolute;
  text-align: left;
  color: var(--white);
  margin-left: 5rem;
  margin-top: 5rem;
}
.author {
  font-weight: 300;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.hero-title {
  font-size: 2rem;
}
.hero-article {
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 3rem;
}
.hero-btn {
  position: relative;
  text-decoration: none;
  padding: 0.5rem 5rem;
  padding-left: 0.7rem;
  display: inline-block;
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s linear;
}
.hero-btn::after {
  position: absolute;
  font-family: 'Material Icons';
  content: 'arrow_right_alt';
  font-size: 2rem;
  top: 0;
  right: 2rem;
  font-weight: lighter;
  width: 1rem;
}
.hero-btn:hover {
  color: grey;
}

.hero-btn:focus {
  font-weight: bold;
}
/* Popular models */
.popular-models {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.popular-models h1 {
  margin: 0 auto;
  margin-top: 3rem;
}
.popular-models-images {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.popular-models-images img {
  height: 100%;
  cursor: pointer;
}
.material-icons {
  font-size: 44px;
}
.popular-btn-left,
.popular-btn-right {
  margin: auto 0;
}
/* 3 photos */
.popular-images-grid {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 400px 300px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-areas:
    'a b'
    'a c';
}
.popular-images-grid img {
  width: 300px;
  height: 300px;
}
.popular-grid-photo-3 {
  grid-area: a;
}
.popular-grid-photo-3 img {
  width: 400px;
  height: 616px;
}
/* FOOTER */
.footer {
  padding-bottom: 2rem;
  display: grid;
  place-items: center;
  min-height: 50px;
}
.footer-links {
  padding: 1.5rem;
}
.footer-icons {
  display: inline;
  padding: 1rem;
}
/* ABOUT PAGE */
.about-section {
  display: flex;
  max-width: var(--fullWidth);
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 0 5rem;
}
.about-content {
  padding-right: 3rem;
}
.about-content p {
  text-align: justify;
  text-justify: inter-word;
}
.about-section img {
  height: 100%;
  width: 80%;
  cursor: pointer;
}
.hero-btn.about {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 2rem;
}
/* CONTACTS */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: var(--fullWidth);
  margin: 0 auto;
}
.contact-text {
  margin-bottom: 9.2rem;
}
.contact-container h2 {
  text-align: left;
  margin-bottom: 2rem;
}
.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.form-group {
  margin-bottom: 1.5rem;
}
.form-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.form-input {
  margin-top: 0.5rem;
  box-shadow: none;
  border: 2px;
  border-color: var(--main);
  border-style: none none solid none;
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem 0;
  font-weight: lighter;
}
.form-input:focus {
  box-shadow: none;
  outline: none;
  border-color: black;
  font-weight: lighter;
}
.form-btn {
  border-style: none;
  padding: 0.5rem;
  font-size: 1rem;
  transition: all 0.5s ease 0s;
  text-transform: lowercase;
  background-color: var(--white);
  color: var(--black);
}
.form-btn:hover {
  border: 1px black;
  border-style: solid;
  cursor: pointer;
}
.form-btn:focus {
  font-weight: lighter;
}
textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid var(--main);
  font-size: 1rem;
  font-family: var(--font);
}
textarea:focus {
  outline: none;
  border-color: black;
}
/* FOR MEN page */
.forMen-section {
  display: flex;
  align-items: flex-start;
  max-width: var(--fullWidth);
  justify-content: flex-start;
  margin: 0 auto;
}

.forMen-title h1 {
  font-size: 50px;
}
.categories-section {
  margin-right: 7.4rem;
}
.category li {
  margin: 0 0.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  font-weight: lighter;
  letter-spacing: 0.4px;
}
.forMen-section li:hover {
  font-weight: bold;
  color: var(--main);
  letter-spacing: 0;
}
.forMen-element img {
  height: 100%;
  width: 200px;
}
.forMen-element {
  display: inline-block;
  margin-right: 3rem;
}
